<%- include('../partials/header.ejs') %>
<h2>You do not have permission to view this page</h2>
<br />
<h3>Please login with your admin account to view this content</h3>
<%- include('../partials/footer.ejs') %>
