<%- include('../partials/header.ejs') %>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Permission Denied!</h4>
  <p>You do not have permission to view this page</p>
  <p class="mb-0">Please Login with your admin account to view this content</p>
</div>
<br />
<a href="/login" class="btn btn-success btn-block">Login</a>
<%- include('../partials/footer.ejs') %>
