<%- include('../partials/header.ejs') %>
<h1>This is the admin route</h1>
<a href="/admin/add-product">Click here to add products</a>
<br />
<a href="/admin/update-product">Click here to update products</a>
<br>
<a href="/admin/delete-product">Click here to delete products</a>
<%-include('../partials/footer.ejs') %>
