<%- include('../partials/header.ejs') %>
<div class="container">
  <a class="btn btn-success btn-block" href="/admin/add-product"
    >Click here to add products</a
  >
  <a class="btn btn-primary btn-block" href="/admin/update-product"
    >Click here to update products</a
  >
  <a class="btn btn-danger btn-block" href="/admin/delete-product"
    >Click here to delete products</a
  >
  <a class="btn btn-info btn-block" href="/admin/get-orders"
    >Click here to show all orders</a
  >
  <a class="btn btn-warning btn-block" href="/type"
    >Click here to add product types</a
  >
</div>
<%-include('../partials/footer.ejs') %>
