<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css'/> 
    <style>
      /* Responsive Image */
      .card-img-top {
       width: 100%;
       height: 15vw;
       object-fit: cover;
      }
      .card-title, .card-text{
        font-size: 2vw; /*responsive text*/
      }
    </style>
    <title>Everything Shop</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="/">Everything  Shop</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a href="/admin" class="nav-link">Admin</a>
          </li>
          <li class="nav-item active">
            <a href="/user" class="nav-link">User</a>
          </li>
          <li class="nav-item active">
            <a href="/cart" class="nav-link">Cart</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%  if(typeof types !== 'undefined'){ %> 
                <% types.forEach(type => { %>
                
                  <li><a class="dropdown-item" href="itemSearchType/<%= type.typeName%> "><%= type.typeName%></a></li>
                  <% }) %>
             <% } %>            
            </ul>
          </li>
          <li>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end mt-2 mt-lg-0">
          <li class="nav-item active">
            <a href="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item active">
            <a href="/logout" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    </html>
