<%- include('partials/header.ejs') %>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Your order has been submited</h4>
  <p>Thanks for your purchase!</p>
  <a href="/" class="alert-link">Continue shopping!</a>
</div>
<%- include('partials/footer.ejs') %>
